<div id="card-area-drop">
    <i class="fa-solid fa-cloud-arrow-down"></i>
    <div id="card-area-content">
        <label class="card-area-title" id="card-area-title-download">Ready? GO!</label>
        <h2>This file expires in {{ item.expiration_time }}</h2>

        <div id="item-info">
            <p id="item-title">{{ item.title }}</p>

            <div id="metadata">
                <p id="item-size">{{ item.size }}</p>
                <p>-</p>
                <p id="item-extension">{{ item.extension }}</p>
            </div>
        </div>
    </div>

    <script defer type="text/javascript" src={{ asset("scripts/button_animation.js") }}></script>
    {% include 'components/buttons/link-button.html.twig' with {
        'id': 'animatedButton',
        'color': 'blue',
        'text': 'Download',
        'href': item.download_file_url
    } %}

    <a id="refreshButton" class="downloadClipBoard" href="/">Want to send a file? Click here</a>
</div>
